.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: rgba(233, 242, 252, 1);;
    /* max-width: 500px; */
    margin: 0 auto;
  }
  
  .chat-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #0c305b;
  }
  
  .chat-button {
    background-color: #990099;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .chat-button:hover {
   opacity: 0.7;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .chat-container p {
      font-size: 1em;
    }
  
    .chat-button {
      width: 100%;
      padding: 12px 0;
    }
  }
  