.choose-container {
    padding: 20px 60px; 
}

.choose-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chhose-imageSection {
    height: auto;   
}

.chhose-imageSection img{
    max-width: 300px;
    object-fit: cover;
    vertical-align: middle;
}

@media (max-width: 768px){
    .choose-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .choose-container {
        padding: 10px 20px; 
    }
}