/* Example Custom CSS */
.navbar {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  }
  
  .navbar-brand {
    font-weight: bold;
    color: #034a74 !important;
  }
  
  .nav-link {
    color: #034a74 !important;
  }
  
  .nav-link:hover {
    color: #0056b3;
  }