.image-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section-heading {
    font-size: 2.5em;
    color: #0c305b;
    text-align: center;
    margin-bottom: 30px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /* Stretch the image and text to the same height */
    flex-wrap: wrap;
    /* Allows stacking on smaller screens */
}

.image-container {
    flex: 1;
    max-width: 575.77px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.responsive-image {
    width: 100%;
    height: auto;   
    object-fit: cover;
}

.text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    line-height: 1.6;
    min-width: 300px;
}

/* Responsive Design */

/* For smaller screens, stack the image and text vertically */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .image-container {
        margin-right: 0;
        margin-bottom: 20px;
        /* Space between image and text on smaller screens */
    }

    .text-content {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .section-heading {
        font-size: 1.8em;
    }

    .text-content {
        font-size: 0.9em;
    }
}